.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

#nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  background-color: rgba(128, 128, 128, 0.486);
}
